* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainContainer {
    width: 800px;
    margin: auto;
}
/* Start of Navbar */
nav div {
    padding: 15px;
    background-color: #f55a5a;
    text-align: center;
    color: white;
}

/* End of Navbar */
